@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter Variable";
  src: url("../../public/fonts/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
